@model RESITALMVC.MODEL.Entities.Rate
@{
    Layout = null;
}


<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>@Model.RateName silmek istediğinize emin misiniz?</h3>
        </div>
        <div class="panel-body">
            @Html.ActionLink("Evet", "DeleteConfirm", new { id = Model.ID }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Hayır", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>